<!DOCTYPE html>
<html>
  <head>
    <title>Hap Hap Hap!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= react_component("Header") %>
    <%= react_component("DishesContainer") %>
  </body>
</html>
