<!DOCTYPE html>
<html>
  <head>
    <title>Hap Hap Hap!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <%= react_component("Header") %>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer blue lighten-3">
      <div class="container">
        <div class="row">
          <div class="col l10 s12">
            <h5 class="white-text">Dishes Index</h5>
            <p class="grey-text text-lighten-4">
              Tiramisu topping I love. Sweet roll tootsie roll I love biscuit. Gingerbread macaroon sesame snaps lemon drops chocolate bar soufflé sugar plum muffin.
            </p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Copyright Luli Inc (BeepBoop)
          <a class="grey-text text-lighten-4 right" href="#!">
            <i class="material-icons">settings</i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
